body {
    background-color: bisque;
  }

  .container {
      text-align: center;
  }
  
  .box {
    display: inline-block;
    width: 30%;
    height: 30%;
  
  background-color: lightblue;
  margin: 10px;
  }
  
  .centered-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
